modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "artifacts/shamer: web"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/shamer"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/shamer run dev"
cwd = "./artifacts/shamer"
waitForPort = 25059
router = "browser"

[workflows.workflow.tasks.env]
PORT = "25059"
BASE_PATH = "/"

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "XegfDyZt7HqfW2Bb8Ghoy"
isCanvasWorkflow = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mockup-sandbox run dev"
cwd = "./artifacts/mockup-sandbox"
waitForPort = 8081

[workflows.workflow.tasks.env]
PORT = "8081"
BASE_PATH = "/__mockup"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "3B4_FFSkEVBkAeYMFRJ2e"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
cwd = "./artifacts/api-server"
waitForPort = 8080

[workflows.workflow.tasks.env]
PORT = "8080"
VITE_SUPABASE_URL = "https://yejvnnoftditzonviwwq.supabase.co"
VITE_SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InllanZubm9mdGRpdHpvbnZpd3dxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5MTYzOTMsImV4cCI6MjA5MjQ5MjM5M30.n4NaT3mNsVYmf4Uougu-R8WRfAbM2a-HBjFk3iz2UHk"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3000
externalPort = 3003

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 25059
externalPort = 3000

[[ports]]
localPort = 25060
externalPort = 3001

[[ports]]
localPort = 25061
externalPort = 4200
